*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

                    /*                    index.php                          */

#indexWrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 215, 188);
    gap: 10%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

#indexWrap form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 2%;
    border: solid 2px rgba(124, 6, 197, 0.565);
    background-color: rgba(255, 172, 163, 0.559);
    border-radius: 12px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
}

#submitbtn{
    padding: 5%;
    border: none;
    border-radius: 6px;
    color: blueviolet;
    background-color: rgb(224, 156, 93);
}

#indexWrap a{
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 1%;
    border-radius: 8px;
    border: solid 4px white;
    box-shadow: 0 0 2px 2px white;
}

                    /*                    recap.php                          */

#recapWrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 14, 14);
    color: white;
    gap: 10%;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

table{
    width: 60%;
    height: 25%;
}

thead{
    height: 13%;
}

td {
    text-align: right;
    padding-right: 1%;
}

.tdIndex{
    width: 5%;
}

.unTotal{
    background-color: rgb(75, 255, 31);
    color: black;
}

#caseTotalVal{
    background-color: rgb(255, 179, 0);
    color: black;
}

#btnIndex{
    text-decoration: none;
    color: greenyellow;
    background-color: black;
    border: 1px solid greenyellow;
    border-radius: 24px;
    padding: 1.5%;
    box-shadow: 0 0 6px 1px rgba(172, 255, 47, 0.534);
}